body {
	font-family: Montserrat, sans-serif;
	background-color: #DEFFF8;
}

/* Sm - Mobile */

	/* Bottom bar */
	.navbar .col .navbar-nav .nav-item .nav-link {
		color: #3626A7;
	}


.wrapper {
	max-width: 414px;
	margin: 0 auto;
}

.CY-logo-reduced {
	position: relative;
	height: 38.61586380004883px;
	width: 53px;
	border-radius: 0px;
}

	/* Main */
h1 {
	width: 318px;
	height: 58px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #3626A7;
	margin-bottom: 51px;
}

.card-eighth-height {
	width: 318px;
	height: 66.12px;
	border-radius: 6px;
	filter: drop-shadow(0px 4px 4px rgba(54, 38, 167, 0.25));
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	padding-left: 12px;
}

.card-eighth-height .content .col1 {
	width: 80px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.card-eighth-height .ranking-number {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #3626A7;
	text-align: center;
}

.card-eighth-height .content .col2 {
	text-align: left;
	display: inline-block;
	width: 210px;
}

.card-eighth-height .grid-item-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #3626A7;
	display: block;
	line-height: 14px;
}

.card-eighth-height .grid-item-economics {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #B43E8F;
	display: block;
}

.secondary {
	background: #CAFFF4;
}


	/* Botones */

.button-full-width-primary {
	width: 318px;
	height: 67px;
	border-radius: 6px;
	background-color: #3626A7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.button-full-width-primary .button-full-width-primary-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	width: 100%;
}
