body {
	font-family: Montserrat, sans-serif;
	background-color: #DEFFF8;
}

h1 {
	font-weight: bold;
	font-size: 24px;
	color: #3626A7;
	margin-bottom: 51px;
}

h2 {
	font-weight: bold;
	font-size: 18px;
	color: #B43E8F;
	margin-bottom: 25.5px;
	margin-top: 25.5px;
}

.navbar {
	background-color: #FFFFFF;
}

.navbar .col .navbar-nav .nav-item .nav-link {
	color: rgba(54, 38, 167, 0.25);
	font-weight: bold;
	font-size: 18px;
}

.navbar .col .navbar-nav .active .nav-link {
	color: #3626A7;
}

/* Expenses */
.card-filled {
	color: #FFFFFF;
	font-weight: normal;
}

.card-filled .card {
	background-color: #B43E8F;
}

.card-filled .card .card-body h3{
	font-family: Montserrat, sans-serif;
	font-weight: bold;
}

.card-filled .card .card-body .fa-money-bill{
	font-size: 50px;
}

/* XS - Mobile - 375px */

	/* Bottom bar */

	.CY-logo-reduced {
		height: 38.62px;
	}

	.mobile-navbar {
		border-top: #3626A7 1px solid;
		color: #3626A7;
		font-weight: bold;
		height: 65.62px;
	}

	@media (max-width: 320px) {
		.navbar .col .navbar-nav .nav-item .nav-link {
			font-size: 16px;
		}
	}

	/* Container */

	.home-list {
		margin-top: 60px;
		margin-bottom: 90px;
	}

	/* Cards */
	
	.card {
		background-color: #DEFFF8;
		border: none;
	}

	/* List items */

	.list-group-item {
		height: 66.12px;
		filter: drop-shadow(0px 4px 4px rgba(54, 38, 167, 0.25));
		margin-bottom: 12px;
		padding-left: 12px;
		padding-top:0;
		padding-bottom:0;
		color: #3626A7;
	}

	.result {
		background-color: #CAFFF4;
	}

	.ranking-number {
		font-weight: bold;
		font-size: 24px;
		line-height: 36px;
		color: #3626A7;
		width: 80px;
		text-align: center;
		margin-bottom: 0;
	}

	.asset-name {
		font-weight: 500;
		font-size: 14px;
		color: #3626A7;
		line-height: 8px;
		margin-bottom: 0;
		margin-top: 10px;
	}

	.asset-economics {
		font-weight: bold;
		font-size: 18px;
		line-height: 10px;
		color: #B43E8F;
		margin-top: -5px;
		margin-bottom: 0;
	}

	/* Buttons */
	
	.btn-primary {
		background-color: #3626A7;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: #FFFFFF;
		height: 66.12px;
		line-height: 46px;
		border: #3626A7 1px solid;
	}

	.btn-outline-primary {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: #3626A7;
		height: 66.12px;
		line-height: 46px;
		border: #3626A7 1px solid;
	}

	.btn-outline-primary .fa-filter {
		margin-right: 20px;
		margin-left: -20px;
	}
	
	/* Footer */
	
	.container-fluid {
		margin-top: 60px;
		margin-bottom: 64px;
	}
	
	.footer {
		background-color: #E5E5E5;
		color: #3626A7;
		font-size: 18px;
		font-weight: bold;
		height: 78px;
		border-top: #3626A7 1px solid;
	}

	.footer .social-media {
		font-size: 14px;
		font-weight: normal;
	}

	.footer .social-media a {
		margin-right: 5px;
		margin-left: 5px;
	}

	/* Ranking */

	.title-and-filter {
		margin-bottom: -50px;
		margin-top: 60px;
	}

	.fa-arrow-left  {
		color: #3626A7;
	}

	.second-ranking-col {
		margin-top: -90px;
		margin-bottom: 12px;
	}

	/* Strategy */

	.strategy-form-input {
		font-weight: bold;
		font-size: 24px;
		line-height: 36px;
		color: #3626A7;
		text-align: center;
		margin-bottom: 12px;	
	}

	/* Filters */

	.after-filters {
		margin-top: 50px;
	}

	.custom-control-label {
		font-size: 18px;
		color: #3626A7;
		vertical-align: middle;
	}

	.custom-control-label::after {
		width: 1.3rem;
		height: 1.3rem;
		background-color: #3626A7;
		border-color: #3626A7;
		border-radius: 4px;
	}

	.custom-control-label::before {
		width: 1.3rem;
		height: 1.3rem;
	}
	
/* SM - Tablet - 600px */

	/* Top bar */

	.desktop-navbar {
		border-bottom: #3626A7 1px solid;
		height: 99px;
		background-color: #FFFFFF !important;
	}

	.CY-logo-default {
		height: 43px;
	}

	/* Container */

	@media (min-width: 600px) {
	
		.home-list {
			margin-top: 180px;
		}

		.container-fluid {
			margin-top: 180px;
			margin-bottom: 0;
		}

		.footer .social-media {
			font-size: 18px;
		}

		/* Ranking */

		.title-and-filter {
			margin-bottom: -170px;
			margin-top: 150px;
		}
	}

/* MD - Tablet - 768px */
	
	/* Container */

	@media (min-width: 768px) {
	
		.home-list {
			margin-top: 180px;
		}

		.container-fluid {
			margin-top: 180px;
			margin-bottom: 0;
			border-top: #3626A7 1px solid;
		}

		.btn-outline-primary {
			height: 48.5px;
			line-height: 30px;
		}

	}

/* LG - Desktop - 1024px */

@media (min-width: 1024px) {
	
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 24px;
	}
	
	/* Top bar */

	.navbar .col .navbar-nav .nav-item .nav-link {
		font-size: 24px;
	}

	/* List items */

	.list-group-item {
		height: 97px;
		margin-bottom: 20px;
	}

	.ranking-number {
		font-size: 36px;
		line-height: 36px;
		width: 120px;
	}

	.asset-name {
		font-size: 18px;
		line-height: 18px;
		margin-top: 16px;
	}

	.asset-economics {
		font-size: 24px;
	}

	/* Buttons */

	.btn-primary {
		font-size: 24px;
		height: 97px;
		line-height: 76px;
	}

	.btn-outline-primary {
		font-size: 24px;
		height: 48.5px;
		line-height: 30px;
	}

	/* Footer */

	.footer {
		font-size: 24px;
	}

	/* Ranking */

	.title-and-filter {
		margin-bottom: -160px;
		margin-top: 160px;
	}

	/* Strategy */

	.strategy-form-input {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 20px;	
	}

		/* Filters */

		.after-filters {
			margin-top: 80px;
		}
	
		.custom-control-label {
			font-size: 24px;
			color: #3626A7;
			vertical-align: middle;
		}

		.custom-control-label::after {
			width: 1.3rem;
			height: 1.3rem;
		}

		.custom-control-label::before {
			width: 1.3rem;
			height: 1.3rem;
		}
}

/* XL - Desktop - 1440px */
	
	/* Top bar */
	


